textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 500px;
}

body {
    overflow: hidden;
    background-color:darkgray
}

table { 
    table-layout: fixed;
}

* {
    scroll-margin-top:50pt;
}

td { 
    overflow: hidden;
    overflow-wrap: break-word;
}

li {
    display: inline;
    font-size: 16pt;
    line-height: 30pt;
}

img.img-list {
    height: 30 pt;
}
/* li {
    display: inline-block;
    font-size: 12pt;
    line-height: 30pt; 
    width: 125pt; 
    height: 75pt;
    border: 1px solid #000;   
} */

.csv-sum {
    font-weight: bold;
}

.dropdown-Tags {
    position: absolute;
    z-index: 100;
    display: none;
    min-width: 100pt;
    padding: 5pt 0;
    background-color: #fff;
    border: rgb(200, 200, 200) solid 1pt;
}

.col{
    overflow: auto;
    height:88vh;
  }

thead.ecsvtable{
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    border-bottom: 2px solid currentColor
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */
  }

  input[type="file"]#nav-input{
    display: none;
  }

  label{
    cursor: pointer;
}