textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 500px;
}

body {
    overflow: hidden;
}

table { 
    table-layout: fixed;
}

td { 
    overflow: hidden;
    overflow-wrap: break-word;
}

li {
    display: inline;
    font-size: 16pt;
    line-height: 30pt;
}

img.img-list {
    height: 30 pt;
}
/* li {
    display: inline-block;
    font-size: 12pt;
    line-height: 30pt; 
    width: 125pt; 
    height: 75pt;
    border: 1px solid #000;   
} */

.csv-sum {
    font-weight: bold;
}

.dropdown-Tags {
    position: absolute;
    z-index: 100;
    display: none;
    min-width: 100pt;
    padding: 5pt 0;
    background-color: #fff;
    border: rgb(200, 200, 200) solid 1pt;
}

.col{
    overflow: auto;
    height:90vh;
  }